.button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 15px 200px;
  margin: 20px auto;
  color: white;
  background: linear-gradient(90deg, #2c1e19, #25200f);
  border: 1px white solid;
  border-radius: 20px;
  font-family: helvetica;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  white-space: nowrap;
}

.button:hover {
  background: linear-gradient(90deg, #fd4715, #f9b241);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
  border: 1px rgba(242, 100, 18, 0.8) solid;
}

.answersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 5%;
  width: 50%;
  margin: auto;
}

@media (max-width: 1660px) {
  .answersContainer {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .answersContainer {
    width: 85%;
  }
}

@media (max-width: 960px) {
  .answersContainer {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }
}

.selectedAnswer {
  background: #adc005;
}

.selectedAnswer:hover {
  background: #adc005;
  box-shadow: 0 0 12px rgba(201, 238, 34, 0.8);
  border: 1px rgba(162, 190, 1, 0.8) solid;
}

.correctAnswer {
  background: #019201;
}

.correctAnswer:hover {
  background: #019201;
  box-shadow: 0 0 12px rgba(55, 180, 6, 0.8);
  border: 1px rgba(67, 201, 5, 0.8) solid;
}

.selectedWrongAnswer {
  background: #be310e;
}

.selectedWrongAnswer:hover {
  background: #be310e;
  box-shadow: 0 0 12px rgba(242, 63, 18, 0.8);
  border: 1px rgba(243, 58, 26, 0.8) solid;
}

.revealedAnswerText {
  text-align: center;
  padding-bottom: 20px;
}

.revealedAnswerTextCorrect {
  color: #019201;
}

.revealedAnswerTextIncorrect {
  color: #be310e;
}

.timerBar {
  height: 30px;
  width: 50%;
}

.mainContainer {
  text-align: center;
}
