.playlists {
  padding: 2rem;
}

.confirmation {
  text-align: center;
  width: 100%;
  line-height: 40px;
}

.searchText {
  text-align: center;
}

.searchContainer {
  display: grid;
  justify-content: center;
}

.loading {
  text-align: center;
  font-size: 24px;
}

.error {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 400px) {
  .searchContainer {
    text-align: center;
  }
}


@media only screen and (min-width: 660px) {
  .playlists {
    display: flex;
    flex-wrap: wrap;
  }
}
