.playlists {
  padding: 2rem;
}

.confirmation {
  text-align: center;
  width: 100%;
  line-height: 40px;
}

.searchText {
  text-align: center;
}

.searchContainer {
  display: grid;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.error {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 400px) {
  .searchContainer {
    text-align: center;
  }
}


@media only screen and (min-width: 660px) {
  .playlists {
    display: flex;
    flex-wrap: wrap;
  }
}

.spinner {
  border: 5px solid rgba(0,0,0,0.1);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
